<div class="container">
    <div class="row">
        <div class="col-md-12 mb-2">
            <h2>Todo list</h2>
        </div>
        <div class="col-md-12 bg-white shadow-sm rounded p-2 mb-2">
            <div class="row p-2">
                <div class="col-4">
                    <input type="text" class="form-control" #todoValue>

                </div>
                <div class="col-2">
                    <button class="btn btn-sm btn-primary" (click)="addNotes(todoValue.value)">Add Todo</button>

                </div>
            </div>
        </div>
        <div class="col-md-12 bg-white shadow-sm  rounded p-2">
            <h3 class="fw-lighter text-info" *ngFor="let note of notes">
            <b>* {{note.description}}</b>
            <button class="btn btn-danger btn-sm" (click)="deleteNotes(note.id)">Delete</button>
            </h3>
        </div>
    </div>
</div>
