 <!--  -->
 <div class="about py-5">
   <div class="container">
     <div class="row">
       <div class="col-xl-6 col-lg-6 col-md-6 mb-2 order-md-1 order-2">
         <div class="p-md-2 p-3">
           <form class="row g-md-3 g-1" #contactForm="ngForm">
             <div class="col-xl-6 col-lg-6 col-md-12">
               <label for="Phone" class="form-label">Name <sup class="text-danger">*</sup></label>
               <input type="text" class="form-control form-control-lg" id="Phone" name="name" #name="ngModel" [(ngModel)]="contactObj.name" required>
               <small class="text-danger" *ngIf="!name.valid && name.touched">Please enter name</small>
             </div>
             <div class="col-xl-6 col-lg-6 col-md-12">
               <label for="Email" class="form-label">Email <sup class="text-danger">*</sup></label>
               <input type="email" class="form-control form-control-lg" id="Email" name="email" #email="ngModel" [(ngModel)]="contactObj.email" required>
               <small class="text-danger" *ngIf="!email.valid && email.touched">Please enter email</small>
             </div>
             <div class="col-12">
               <label for="StreetAddress" class="form-label">Your Message <sup class="text-danger">*</sup></label>
               <textarea class="form-control form-control-lg" name="" id="" cols="15" rows="5" name="message" #message="ngModel" [(ngModel)]="contactObj.message" required></textarea>
               <small class="text-danger" *ngIf="!message.valid && message.touched">Please enter message</small>
             </div>
             <div class="col-12 mt-3">
               <p class="text-success border border-success p-2 text-capitalize" [ngClass]="isStatus ? 'd-block':'d-none'">{{contactMessage}}</p>
             </div>
             <div class="col-12">
               <button mat-stroked-button  type="submit" class=" mt-2 p-sm-4 p-3 border border-dark" [disabled]="!contactForm.valid" color="primary" (click)="submitContact()">

                 <span class="fw-bold">Submit</span>
               </button>
             </div>
           </form>
         </div>
       </div>
       <div class="col-xl-6 col-lg-6 col-md-6 order-md-2 order-1 darkgreen">
         <div class="aboutus p-4 text-white">
           <div class="title text-uppercase h2 fw-bold">Contact us</div>
           <div class="d-flex justify-content-center flex-column h-100 align-items-start">
             <div class="d-flex align-items-start justify-content-start mb-5 mt-3">
               <div class="border p-2 d-flex align-items-center justify-content-center bg-white text-dark">
                 <mat-icon> email</mat-icon>
               </div>
               <div class=" px-2 ms-2">
                 <div class="fs-4">Email</div>
                 <div class="text-light">info@example.in</div>
               </div>
             </div>
             <div class="d-flex align-items-start justify-content-start mb-5">
               <div class="border p-2 d-flex align-items-center justify-content-center bg-white text-dark">
                <mat-icon>public</mat-icon>
               </div>
               <div class=" px-2 ms-2">
                 <div class="fs-4">Web</div>
                 <div class="text-light">www.example.in</div>
               </div>
             </div>
             <div class="d-flex align-items-start justify-content-start mb-5">
               <div class="border p-2 d-flex align-items-center justify-content-center bg-white text-dark">
                 <mat-icon> phone</mat-icon>
               </div>
               <div class=" px-2 ms-2">
                 <div class="fs-4">Customer Care</div>
                 <div class="text-light">+91-9560915445</div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
