 <!--  -->
 <div class="about py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img">
            <img src="https://ecommerce-api-weld.vercel.app/assets/about-us.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-md-6 darkgreen">
          <div class="aboutus p-4 text-white">
            <div class="title text-uppercase h2 fw-bold">About us</div>
            <div class="tagline fw-bold h6 my-4">DryFruit Basket with all kinds of Dry Fruits have been a part of our diet
              and our culture since times immemorial.</div>
            <div class="content">
              <p>
                Along with the umpteen health benefits that they offer, dry fruits are also an excellent source of vital
                nutrients and healthy oils that help reduce the risk of chronic diseases. A long shelf life, ease of
                storage and transportation make them an inherent part of every dietary recommendation.
              </p>
            </div>
            <div class="mt-4">
              <button mat-stroked-button class="p-4 border border-white" color="primary">
  
                <span class="fw-bold olive">Know More</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>