<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h5>Welcome, {{username}}</h5>
        </div>
    </div>
    <li><a routerLink="dashboard" routerLinkActive="list-item-active" mat-list-item style="padding-left:30px"><span>🏠</span> Dashboard</a></li>
    <li><a routerLink="myorder" routerLinkActive="list-item-active" mat-list-item style="padding-left:30px"><span>⚡</span> My Orders</a></li>
    <li><a routerLink="setting" routerLinkActive="list-item-active" mat-list-item style="padding-left:30px"><span>⚙</span> Setting</a></li>
</mat-nav-list>