.menu-item{
    margin-right: 10px;
    text-decoration: none;
  }
  /* .mat-button-toggle-checked{background-color: greenyellow;} */
  .mat-button-toggle-checked{background-color:rgb(166, 141, 9);color:#fff}
  .pro-card{
    box-shadow: 0 0 0 0;
    transition: 0.2s all;
  }
  .pro-card:hover{
    box-shadow: 0 0px 8px #999;
  }
  .ourclient .example-card div{display: flex;justify-content: center;margin: 10px;}
  .ourclient .example-card div img{height: 100px;width: 100px;}