<div class="">
    <ng-content class=".slider-1"></ng-content>
</div>
<div class="p-4 d-md-none d-block" style="background-color: #88af53;">
    <h3 class="text-center mb-0 fs-1 text-white" style="font-family: 'Times New Roman', Times, serif;">Labor Day Special</h3>
    <h3 class="text-center text-white fs-1" style="font-family: 'Times New Roman', Times, serif;">Unlock &#8377;100 Saving!</h3>
    <p class="text-center my-3 fs-4" style="font-family: 'Times New Roman', Times, serif;">Save &#8377;25 on any second item when you buy it with dryfruit</p>
    <div class="text-center">
        <button mat-stroked-button class="ms-1 bg-white border border-white p-4" color="primary">
            <span class="fw-bold text-uppercase  text-dark" style="font-family: 'Times New Roman', Times, serif;">Shop now</span>
        </button>
    </div>
    
</div>