<div class="position-relative f_13 w-100 orderTable">
    <!-- <pre>
      {{allOrders|json}}
    </pre> -->
      <div class="table-responsive">
      <table class="table mt-2 border table-responsive table-bordered">
        <thead>
          <tr>
            <th scope="col" class="bg-light">S.No</th>
            <th scope="col" class="bg-light">id</th>
            <th scope="col" class="bg-light">Customer</th>
            <th scope="col" class="bg-light">Email</th>
            <th scope="col" class="bg-light">Status</th>
            <th scope="col" class="bg-light">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allUsers;let i=index">
            <td>{{i+1}}</td>
            <td>{{item._id}}</td>
            <td>{{item.name}}</td>
            <td class="text-primary">{{item.email}}</td>
            <td>
                <div class="form-check form-switch h-auto">
                    <input class="form-check-input" (change)="onUserStatusChange(item._id,item.status)" type="checkbox" role="switch" [checked]="item.status">
                </div>  
            </td>
            <td>
              <span class="cp m-1 bg-info text-white p-1 f_13" routerLink="view/{{item._id}}">View</span>
              <!-- <span class="cp m-1 bg-success p-1 text-white f_14" routerLink="edit/{{item._id}}">Edit</span> -->
              <!-- <span class="cp m-1 bg-danger text-white p-1 f_14" (click)="removeProduct(item._id)">Remove</span> -->
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="position-absolute top-0 start-0 h-100 w-100 bg-white text-center fs-2 d-flex align-items-center justify-content-center" style="margin-top: 3px;" *ngIf="isLoader">Loading...</div>
      