.dialogBox{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 6666;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 100%; */
}
div.dialogBox #content{
    height: 300px;
    width: 60%;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}