
<div class="container-fluid">
    <div class="row p-0">
      <div class="col-md-12 p-0  mt-2">
      <div class="card">
        <div class="card-body py-1">
         <div class="row">
          <div class="col-md-12">
            <form action="" class="" #blogForm="ngForm" (ngSubmit)="createBlog(blogForm.value)">
                <div class="row py-2  border bg-light">
                  <div class="col-md-4 col-12">
                    <label class="form-label">Blog Name</label>
                    <input type="text" class="form-control form-control-sm bg-white" name="blogTitle" [(ngModel)]="createBlogObj.title" #blogTitle="ngModel" ngModel required>
                    <small class="text-danger" *ngIf="!blogTitle.valid && blogTitle.touched">Please enter title</small>
                  </div>
                  <div class="col-md-4 col-12">
                    <label class="form-label">Category Name</label>
                    <input type="text" class="form-control form-control-sm bg-white" name="blogCategory" [(ngModel)]="createBlogObj.category" #blogCategory="ngModel" ngModel required>
                    <small class="text-danger" *ngIf="!blogCategory.valid && blogCategory.touched">Please enter category name</small>
                  </div>
                  <div class="col-md-4 col-12">
                    <label class="form-label">Image URL</label>
                    <input type="text" class="form-control form-control-sm bg-white" name="blogImage" [(ngModel)]="createBlogObj.image" #blogImage="ngModel" ngModel required>
                    <small class="text-danger" *ngIf="!blogImage.valid && blogImage.touched">Please enter category name</small>
                  </div>
                
                  <div style="margin-top: 15px;">
                    <button mat-flat-button color="primary" type="submit" style="margin-right: 5px;" [disabled]="!blogForm.valid">Save</button>
                    <button mat-flat-button color="accent" type="button" routerLink="../">Close</button>
                  </div>
                </div>
              </form>
          </div>
          <div class="col-md-12 mt-md-0 mt-2">
          <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="createBlogObj.content" [config]="editorConfig"></angular-editor>
            
          </div>
         </div>
        </div>
      </div>
      <!-- <div style="background-color: greenyellow;padding:7px;font-size: 18px;margin-bottom: 5px;font-weight: bold;">
        <span>View Product</span></div> -->
      </div>
    </div>
  
  </div>
  
    
    <!-- <div class="successLoader d-flex align-items-end justify-content-center">
      <div class="position-fixed z-2 bg-warning text-dark border border-dark px-3 p-1"
        [ngStyle]="isSuccess ? {'top':'30px','transition':'1s'} :{'top':'-50px','transition':'2s'}">
        <span class="text-success fw-bold">{{message}} </span>
      </div>
    </div> -->
<!-- <br /><br />
Blog Name
<input type="text" [(ngModel)]="createBlogObj.title">

<br /><br />
Category Name
<input type="text" [(ngModel)]="createBlogObj.category">

<br /><br />
Image
<input type="text" [(ngModel)]="createBlogObj.image"> -->

<!-- <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="createBlogObj.content" [config]="editorConfig"></angular-editor> -->

<!-- {{createBlogObj.content}} -->

<!-- <button class="btn btn-primary" (click)="createBlog()">save</button> -->

<!-- <div [innerHTML]="createBlogObj.content"> </div> -->
