<div class="position-relative f_14 w-100">
    <div class="table-responsive">
    <table class="table mt-2 border table-responsive table-bordered">
      <thead>
        <tr>
          <th scope="col" class="bg-light">S.No</th>
          <th scope="col" class="bg-light">Product Id</th>
          <th scope="col" class="bg-light">Order Id</th>
          <th scope="col" class="bg-light">Name</th>
          <th scope="col" class="bg-light">Address</th>
          <th scope="col" class="bg-light">Quan</th>
          <th scope="col" class="bg-light">Status</th>
          <th scope="col" class="bg-light">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allProduct;let i=index">
          <!-- <pre>{{allProduct | json}}</pre> -->
          <th>{{i+1}}</th>
          <td>{{item.orderItems[0].product.pId}}</td>
          <td>{{item._id}}</td>
          <td>{{item.orderItems[0].product.name}}</td>
          <td>{{item.shippingAddress1}},{{item.shippingAddress2}},{{item.city}},{{item.state}}-{{item.zip}},{{item.country}}</td>
          <td>
            <span *ngFor="let orderitem of item.orderItems">{{orderitem.quantity}}</span>
          </td>
          <td>{{item.status}}</td>
          <td>Rs.{{item.orderItems[0].product.price*item.orderItems[0].quantity}}</td>
          <td colspan="8" *ngIf="isOrder">Order Not Found</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="position-absolute top-0 start-0 h-100 w-100 bg-white text-center fs-2 d-flex align-items-center justify-content-center" style="margin-top: 3px;" *ngIf="isLoader">Loading...</div>
    </div>
    
    <!-- <div class="container">
      <div class="row g-2">
        <div class="col-md-12">
          <h3>My Orders</h3>
        </div>
        <div class="col-md-6" *ngFor="let item of allProduct;let i=index">
          <div class="card mb-1" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../../assets/product-1.jpg" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title mb-1">{{item.orderItems[0].product.name}}</h5>
                  <address>{{item.shippingAddress1}},{{item.shippingAddress2}},{{item.city}},{{item.state}}-{{item.zip}},{{item.country}}</address>
                  <p class="mb-0">{{item.orderItems[0].quantity}} item X {{item.orderItems[0].product.quality}}weight</p>
                  <p class="mb-0">{{item.status}}</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div> -->
    
    