<!-- footer -->
<footer class="py-4 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="contentBox">
            <div class="heading fw-bold darkgreentext">Categories</div>
            <div class="content mt-2">
              <ul type="none" class=" ps-0">
                <li class="p-0"><a routerLink="/product-detail" class="text-decoration-none olive text-capitalize">black raisins</a></li>
                <li class="p-0"><a routerLink="/product-detail" class="text-decoration-none olive text-capitalize">zante currants
                    raisins</a></li>
                <li class="p-0"><a routerLink="/product-detail" class="text-decoration-none olive text-capitalize">sultanas raisins</a>
                </li>
                <li class="p-0"><a routerLink="/product-detail" class="text-decoration-none olive text-capitalize">red raisins</a></li>
                <li class="p-0"><a routerLink="/product-detail" class="text-decoration-none olive text-capitalize">green raisins</a></li>
                <li class="p-0"><a routerLink="/product-detail" class="text-decoration-none olive text-capitalize">munakka raisins</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contentBox">
            <div class="heading fw-bold darkgreentext">Customer Care</div>
            <div class="content mt-2">
              <ul type="none" class=" ps-0">
                <li class="p-0"><a routerLink="/faq" class="text-decoration-none olive text-capitalize">FAQ</a></li>
                <li class="p-0"><a routerLink="/contact" class="text-decoration-none olive text-capitalize">Contact us</a></li>
                <li class="p-0"><a routerLink="/terms-condition" class="text-decoration-none olive text-capitalize">terms & conditions</a>
                </li>
                <li class="p-0"><a routerLink="/privacy-policy" class="text-decoration-none olive text-capitalize">privacy policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contentBox">
            <div class="heading fw-bold darkgreentext">Subscribe our Newsletter</div>
            <div class="content mt-2">
              <form action="">
                <input type="text" class="form-control py-2" placeholder="Please enter your email">
                <button mat-flat-button class="p-4 border border-success w-100 mt-1" color="primary">
                  <span class="fw-bold">Subscribe</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>