
<div class="container">
 <div class="row">
    <div class="col-md-4">
        <div>
            <div class="randomColorGeneratorBox rounded shadow-sm" [ngClass]="isSelected ? 'border' : ''" [style]="{'background-color':colorGenerate}" (click)="selectBox()">
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="p-3">
        <div class="fs-4">
            <div>Color Code: rgb({{redColor}},{{greenColor}},{{blueColor}})</div>
            <div>Color R: {{redColor}}</div>
            <div>Color G: {{greenColor}}</div>
            <div>Color B: {{blueColor}}</div>
        </div>
        <br>
        <button class="btn btn-primary rounded-pill shadow-lg btn-lg" (click)="createRandomColor()">Generate Color</button>
      </div>
    </div>
 </div>
 <div class="row mt-3">
    <div class="col-md-12 mb-2 ">
        <div class="bg-white p-2 fs-5">
            Color History ({{colorHistoryLength}})
        </div>
    </div>
    <div class="col-md-2 mb-2 animate__animated animate__bounceIn" *ngFor="let box of storeGenerateColor;let i=index">
     <div class="text-white fw-medium fs-5 d-flex align-items-center justify-content-center addBox shadow-sm rounded mb-1" [style]="{'background-color':box.code}">
      {{box.code}}
     </div>
     <button class="w-50 btn btn-danger btn-sm" (click)="removeColorBox(box.id)">Remove</button>        
     <button class="w-50 btn btn-secondary btn-sm">copy</button>        
    </div>
 </div>
</div>
