<div class="container mt-2">
    <!-- <div class="row">
     <div class="col-md-12">
        <h2 class=" ps-2 py-1 fs-6">Home > Checkout</h2>
     </div>
    </div> -->
   
    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-4 mb-2 ">
            <div class="d-flex justify-content-center border align-items-center" *ngIf="!isProductLoader">
                <img src="{{getProductByIdVar.image}}" class="img-fluid" alt="">
            </div>
              <div class="card border-0" aria-hidden="true" *ngIf="isProductLoader">
                <div class="placeholder-glow">
                 <div class="placeholder col-12 py-5 bg-secondary"></div>
                 <div class="placeholder col-12 py-5 bg-secondary"></div>
                 <div class="placeholder col-12 py-5 bg-secondary"></div>
                 <div class="placeholder col-12 py-5 bg-secondary"></div>
                 <div class="placeholder col-12 py-5 bg-secondary"></div>
                </div>
              </div>
            </div>
        <div class="col-xl-7 col-lg-7 col-md-8 mb-2 bg-white" *ngIf="!isProductLoader">
            <div class="p-3">
                <div class="title mb-3 fw-bold text-capitalize lightgreentext fs-4">{{getProductByIdVar.name}}</div>
                <div class="review mb-3 d-flex align-content-center justify-content-start">
                    <div>
                    <mat-icon class="darkyellow">star</mat-icon>
                    <mat-icon class="darkyellow">star</mat-icon>
                    <mat-icon class="darkyellow">star</mat-icon>
                    <mat-icon class="darkyellow">star</mat-icon>
                    <mat-icon class="darkyellow">star</mat-icon>
                    </div>
                    <div>
                        <span class="ms-2">(12)</span>
                    </div>
                </div>
                <div class="shortdesc mb-3 f_15">{{getProductByIdVar.description}}</div>
                <div class="price d-flex align-items-center justify-content-start mb-3">
                    <div>
                        <div class="price text-center my-2">
                            <span class="fw-bold fs-3 lightgreentext">&#8377;{{getProductByIdVar.price}} </span>
                          </div>
                    </div>
                    <div class="ms-3">|</div>
                    <div>
                        <div class="price text-center my-2 ms-3">
                            <span class="fs-5 text-muted"> <s> &#8377; {{getProductByIdVar.oldPrice}}</s></span>
                          </div>
                    </div>
                    <div>
                      <div class="ms-3 text-danger bg-danger text-white p-1">

                        {{math.trunc(productDetail.discount)}}% Off
                      </div>
                    </div>
                </div>
                <div class="quan">
                  <span>Product Quantity: <span class="fw-bold">{{getProductByIdVar.quantity}}</span></span>
                </div>
                <!-- <div>
                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" #toggleBtn="matButtonToggleGroup">
                    <mat-button-toggle checked class="active  p-0" (click)="changeVarity(0)" value="almonds">{{getProductByIdVar.p_u[0].quan}}</mat-button-toggle>
                    <mat-button-toggle class="active  p-0" (click)="changeVarity(1)" value="raisins">{{getProductByIdVar.p_u[0].quan}}</mat-button-toggle>
                    <mat-button-toggle class="active  p-0" (click)="changeVarity(2)" value="cashew">{{getProductByIdVar.p_u[0].quan}}</mat-button-toggle>
                    <mat-button-toggle class="active  p-0" (click)="changeVarity(3)" value="pistachio">{{getProductByIdVar.p_u[0].quan}}</mat-button-toggle>
                  </mat-button-toggle-group>
                </div> -->
                <div class="action mt-3 d-sm-flex align-items-center justify-content-start mb-3">
                    <!-- <div class="wishlistBtn d-flex align-items-center justify-content-start mt-2" style="width: 150px;">
                      <div>
                        <button mat-icon-button color="primary" (click)="manageQuan('plus')">
                            <mat-icon class="d-flex align-items-center justify-content-center">add</mat-icon>
                        </button>
                      </div>
                      <div class="w-50"><div class="form-control text-center">{{proQuan}}</div></div>
                      <div>
                        <button mat-icon-button color="primary" class="" (click)="manageQuan('minus')">
                         <mat-icon class="p-0 pb-3 d-flex align-items-center justify-content-center">minimize</mat-icon>
                        </button>
                      </div>
                    </div> -->
                    <div class="cartBtn mb-sm-2 mt-sm-3 mb-2 mt-5" *ngIf="isStatus">
                      <button mat-stroked-button class="ms-sm-1 border border-dark p-4 w100_575"  [disabled]="isLoading"  (click)="addToCart()" color="primary">
                        <span class="fw-bold" *ngIf="!isLoading">Add to Cart</span>
                        <span *ngIf="isLoading" class="darkgreentext">Please Wait...</span>
                      </button>
                    </div>
                    <div class="cartBtn mb-sm-2 mt-sm-3 mb-2 mt-5" *ngIf="!isStatus">
                      <button mat-stroked-button class="ms-sm-1 border border-dark p-4 w100_575" routerLink="/cart" color="primary">
                        <span class="fw-bold darkyellow" *ngIf="!isLoading">Go to Cart</span>
                      </button>
                    </div>
                    <div class="shareBtn mb-2 mt-3">
                      <a routerLink="/checkout">
                      <button mat-flat-button class="ms-sm-1 p-4 w100_575 fw-bold text-capitalize" color="primary">
                        buy now
                      </button>
                      </a>
                    </div>
                  </div>
                <div class="benfits"></div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-8 mb-2 bg-white" *ngIf="isProductLoader">
          <div class="card border-0 p-3" aria-hidden="true">
            <div class="placeholder-glow">
             <div class="placeholder col-6 py-3 bg-secondary"></div><br>
             <div class="placeholder col-3 bg-secondary"></div>
             <div class="placeholder col-12 bg-secondary"></div>
             <div class="placeholder col-8 bg-secondary"></div><br>
             <div class="placeholder col-3 mt-3 bg-secondary"></div><br>
             <div class="placeholder col-3 bg-secondary"></div><br>
             <div class="placeholder col-3 bg-secondary"></div><br>
             <div class="placeholder col-3 bg-secondary"></div><br>
             <div class="placeholder col-3 bg-secondary"></div><br>
             <div class="placeholder col-3 mt-2 py-3 bg-secondary"></div><br>
             <div class="placeholder col-3 bg-secondary"></div><br>
             <div class="placeholder col-4 py-4 mt-3 bg-success"></div>
             <div class="placeholder col-4 py-4 ms-1 mt-3 bg-success"></div>
            </div>
          </div>
        </div>
    </div>
</div>

<section class="review py-2" style="background-color:#ece8d1;">
  <div class="container">
     <div class="row">
      
      <div class="col-xl-8 col-lg-8 col-md-8 mb-2 mx-auto">
        <div class="p-md-2 p-3 border-bottom">
          <h4>Add a review</h4>
        </div>
        <div class="p-md-2 p-3">
          <form class="row g-md-3 g-1" #reviewForm="ngForm" (ngSubmit)="submitReview(reviewForm.value)">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <label for="Phone" class="form-label">Name <sup class="text-danger">*</sup></label>
              <input type="text" class="form-control form-control-md" id="Phone" name="name" #name="ngModel" ngModel required>
              <small class="text-danger" *ngIf="!name.valid && name.touched">Please enter name</small>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
              <label for="Email" class="form-label">Email <sup class="text-danger">*</sup></label>
              <input type="email" class="form-control form-control-md" id="Email" name="email" email #email="ngModel" ngModel required>
              <small class="text-danger" *ngIf="!email.valid && email.touched">Please enter email</small>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
              <label for="phone" class="form-label">Phone <sup class="text-danger">*</sup></label>
              <input type="number" min="6000000000" max="9999999999" maxlength="10" class="form-control form-control-md" id="Phone" name="phone" #phone="ngModel" ngModel required>
              <small class="text-danger" *ngIf="!phone.valid && phone.touched">Please enter phone</small>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
              <label for="ratting" class="form-label">Your Ratting <sup class="text-danger">*</sup></label>
               <select ngModel #ratting="ngModel" name="ratting" id="Ratting" class="form-select form-select-md">
                <option selected *ngFor="let ratting of rattingArr" [value]="ratting">{{ratting}} Review</option>
               </select>
              <small class="text-danger" *ngIf="!ratting.valid && ratting.touched">Please enter ratting</small>
            </div>
            <div class="col-12">
              <label for="review" class="form-label">Your Review <sup class="text-danger">*</sup></label>
              <textarea class="form-control form-control-md" id="rattingMsg" cols="15" rows="5" name="rattingMsg" #rattingMsg="ngModel" ngModel required></textarea>
              <small class="text-danger" *ngIf="!rattingMsg.valid && rattingMsg.touched">Please enter review message</small>
            </div>
            <div class="col-12 mt-3">
              <p class="text-success border border-success p-2 text-capitalize" [ngClass]="isReviewMsg ? 'd-block':'d-none'">{{reviewMessage}}</p>
            </div>
            <div class="col-12">
              <button mat-flat-button  type="submit" class=" mt-2 p-sm-4 p-3 border border-dark" [disabled]="!reviewForm.valid" color="primary">

                <span class="fw-bold">Submit</span>
              </button>
            </div>
          </form>
        </div>
      </div>
     </div>
  </div>
</section>

<div class="successLoader d-flex align-items-end justify-content-center">
  <div class="position-fixed z-2 bg-warning text-dark border border-dark px-3 p-1" [ngStyle]="isCartSuccess ? {'top':'30px','transition':'1s'} :{'top':'-50px','transition':'2s'}" >
    <span class="text-success fw-bold">Add</span> to Cart Successfully 
  </div>
</div>