<div class="container mt-4">
    <!-- <div class="row mx-auto w-100">
        <div class="col-md-12 mx-auto d-flex align-items-center justify-content-center">
            <div class="text-center p-2 bg-white border border-2 border-dark">
                1. Checkout Details
            </div>
            <div class="text-center ms-2 p-2 bg-white border border-2 border-dark">
                2. Order Complete
            </div> 
        </div>
        
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <h2 class=" ps-2 darkgreen py-1 text-white fs-5">Payment Options</h2>
        </div>
    </div>
    <div class="row">
        <mat-divider class="mt-3 ms-0 ps-0"></mat-divider>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
            <div class="p-3">
                <div class="checkoutProduct">
                    <div class="row bg-white p-3 border mb-2">
                        <div class="col-sm-1 mb-2 d-sm-flex align-items-center justify-content-center">
                            <div class=" mt-1">
                                <input class="form-check-input border border-dark cp fs-3" checked type="radio"
                                    name="payment" (change)="getPaymentMethod('cash-on-delivery')">
                            </div>
                        </div>
                        <div class="col-sm-11 ">
                            <div class="productDetail">
                                <div class="title fw-bold fs-5">
                                    Cash On Delivery
                                </div>
                                <div class="quanwithweight f_14 d-flex align-items-center justify-content-start">
                                    <div class="animate__animated  animate__bounceIn animate__repeat-3" >Note:- <span style="color:red;background-color: yellow;">Cash on Delivery is Available on Advance Payment of
                                            Shipping Charges as 100/- INR.
                                            You Can Pay the Advance Shipping Charges On +91-9560915445 Via Paytm , Gpay
                                            , PhonePe & Mpay</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row bg-white p-3 border mb-2">
                        <div class="col-sm-1 mb-2 d-sm-flex align-items-center justify-content-center">
                            <!-- <div class=" mt-1">
                                <input class="form-check-input border border-dark cp fs-3" type="radio" name="payment"
                                    (change)="getPaymentMethod('online-payment')">
                            </div> -->
                        </div>
                        <div class="col-sm-11 ">
                            <div class="productDetail">
                                <div class="title fw-bold fs-5">
                                    Online Payment Method
                                </div>
                                <div class="quanwithweight f_14 d-flex align-items-center justify-content-start">
                                    <div class="quan ">
                                        <google-pay-button environment="TEST" buttonType="buy" buttonColor="black"
                                            [paymentRequest]="{
    apiVersion: 2,
    apiVersionMinor: 0,
    allowedPaymentMethods: [
      {
        type: 'CARD',
        parameters: {
          allowedAuthMethods: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
          allowedCardNetworks: ['AMEX', 'VISA', 'MASTERCARD']
        },
        tokenizationSpecification: {
          type: 'PAYMENT_GATEWAY',
          parameters: {
            gateway: 'example',
            gatewayMerchantId: 'exampleGatewayMerchantId'
          }
        }
      }
    ],
    merchantInfo: {
      merchantId: 'BCR2DN4T42AI35R3',
      merchantName: 'Admin'
    },
    transactionInfo: {
      totalPriceStatus: 'FINAL',
      totalPriceLabel: 'Total',
      totalPrice: '100.00',
      currencyCode: 'INR',
      countryCode: 'IN'
    }
  }" (loadpaymentdata)="onLoadPaymentData($event)"></google-pay-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <mat-divider class="my-3 ms-0 ps-0"></mat-divider>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="fs-5 text-uppercase">Total</div>
                        </div>
                        <div class="col-6">
                            <div class="fs-5 text-end fw-bold">&#8377; {{totalPrice}}</div>
                        </div>
                    </div>
                    <div class="row mt-sm-4 mt-3">
                        <div class="col-md-12">
                            <button mat-flat-button class="ms-1 p-4 w100_575 fw-bold text-capitalize"
                                (click)="placeOrder()" color="primary">
                                Place Order
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="successLoader d-flex align-items-end justify-content-center">
    <div class="position-fixed z-2 bg-warning text-dark border border-dark px-3 p-1"
        [ngStyle]="orderedSuccessfully ? {'top':'30px','transition':'1s'} :{'top':'-50px','transition':'2s'}">
        <span class="text-success fw-bold">Order</span> created Successfully
    </div>
</div>