<div class="container my-3">
  <div class="row">
    <div class="col-md-12">
      <h2 class=" ps-2 darkgreen py-1 text-white fs-5">FAQ</h2>
    </div>
  </div>
  <div class="row">
    <mat-divider class="my-3 ms-0 ps-0"></mat-divider>
  </div>
  <div class="row">
    <div class="col-md-12 mb-2">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" class="shadow-none border border-secondary"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
             Which types of Raisins are best for health?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider class="my-1"></mat-divider>
          <p>Sultana, also known as golden raisins, are the best raisins for overall health goodness. It contains fiber, potassium, iron, flavonoids, and other essential minerals which are great elements for our health.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-12 mb-2">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" class="shadow-none border border-secondary"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                How many Raisins eat daily?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider class="my-1"></mat-divider>
            <p>It is recommended to have 15-20 or 43 grams of raisins every day. The best way to consume raisins daily is to soak them overnight in a cup full of drinking water. And eat them on an empty stomach in the morning.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="col-md-12 mb-2">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" class="shadow-none border border-secondary"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                What are red raisins good for?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider class="my-1"></mat-divider>
            <p>Red raisins play’s key role in the production of red blood cells. These raisins are also beneficial for healthy tissues and strong bones because they have vitamin K. Also, the vitamin C components in red raisins boost healing & help the absorption of iron.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="col-md-12 mb-2">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" class="shadow-none border border-secondary"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                What happens if we eat soaked raisins daily?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider class="my-1"></mat-divider>
            <p>Soaked raisins are more effective and nutritional than dry raisins. When raisins are soaked then the vitamins and minerals present on the outer skin get dissolved in the water. Thus, the nutrients that we gain from raisins increases. Soaked raisins are especially beneficial for people who have high blood pressure issues.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
  </div>
</div>

