<div class="container my-2">
    <div class="row">
        <div class="col-md-3 mb-2">
            <div class="sidePannel border">
                <div>
                    <div class="title bg-white p-2 darkgreen fw-bold border-bottom">Category</div>
                    <div class="body p-2 ">
                        <ul class="p-0 m-0" type="none">
                            <li class="mb-2">
                                <!-- <span class="d-flex align-items-center justify-content-between">
                                  <a mat-button class="menu-item">Dry Fruits</a>
                                  <a mat-icon-button class="menu-item" (click)="showCategory()">
                                    <mat-icon>add</mat-icon>
                                  </a>
                                </span> -->
                                <mat-chip-listbox aria-label="Fish selection" type="none" (change)="categoryWiseFilter($event)">
                                  <mat-chip-option [selected]="true">All</mat-chip-option>
                                  <mat-chip-option *ngFor="let item of dataFilter">
                                    <span class="text-capitalize">{{item}}</span>
                                  </mat-chip-option>
                                </mat-chip-listbox>
                              </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="title bg-white p-2 darkgreen fw-bold border-bottom">Sort by</div>
                    <div class="p-2">
                      <mat-chip-listbox aria-label="Fish selection" (change)="sortByFilter($event)">
                        <mat-chip-option [selected]="true">All</mat-chip-option>
                        <mat-chip-option value="{{item}}" *ngFor="let item of dataQuantity;">{{item}}</mat-chip-option>
                      </mat-chip-listbox>
                    </div>
                   
                </div>
                <!-- <div>
                    <div class="title bg-white p-2 darkgreen fw-bold border-bottom">Price Range</div>
                    <div class="body">
                        <mat-slider min="0" max="1000" style="width: 80%;margin-left: 10%;">
                            <input value="0" matSliderStartThumb [(ngModel)]="minValue" #slider>
                            <input value="1000" matSliderEndThumb [(ngModel)]="maxValue" #slider>
                          </mat-slider>
                       <p class="ps-3">Price: <span>{{minValue}}</span> - <span>{{maxValue}}</span></p>   
                    </div>
                </div> -->
                
            </div>
        </div>
        <div class="col-md-9 mb-2">
            <div class="row" *ngIf="search_var.length > 0">
              <div class="col-md-12 mb-2">
                <div class="searchResult p-2 bg-white fs-5">
                  Show results: {{search_var}} 
                </div>
              </div>

            </div>
            <div class="row gx-2">
            <div class="col-xl-3 col-lg-4 col-md-6 col-6 mb-2" *ngFor="let item of category | filterByType:categorywise_var:sortByFilter_var:search_var let i=index;">
              <mat-card class="example-card animate__animated animate__fadeIn" >
                    <a routerLink="/product-detail/{{item._id}}">
                    <mat-card-header>
                      <div class="position-relative">
                        <img mat-card-image src="{{item.image}}" alt="Photo of a Shiba Inu" class=" cp img-fluid text-center" routerLink="/product-detail">
                      </div>
                      </mat-card-header>
                  </a>
                    <mat-card-content>
                      <a routerLink="/product-detail/{{item._id}}" class="text-decoration-none text-dark">
                      <div class="title text-center" style="min-height: 40px;overflow: hidden;">
                        <h3 class="h6  cp">{{item.name}}</h3>
                      </div>
                    </a>
                      <!-- <div class="quan d-flex justify-content-center my-1 my-sm-3"> 
                        <select name="" id="" (change)="onChangeUnit($event.target)"  class="form-control p-0 p-sm-1 w-50 border border-dark text-center" style="">
                          <option value="{{selectValue}}" *ngFor="let units of item.p_u;let selectValue=index ">{{units.quan}}</option>
                        </select>
                      </div> -->
                      <div class="price text-center my-2">
                        <span class="fw-bold">&#8377; {{item.price}}</span>
                        <span class="fw-bold"> | </span>
                        <span class="text-danger"> &#8377; <s>{{item.oldPrice}}</s></span>
                      </div>
            
                      <div class="action mt-3 d-sm-flex align-items-center justify-content-around">
                        <div class="wishlistBtn">
                          <a routerLink="/product-detail/{{item._id}}">
                          <button mat-flat-button class="w100_575" color="primary">
            
                            <mat-icon>arrow_right_alt </mat-icon>
                            <span class="fw-bold">Buy</span>
                          </button>
                        </a>
                        </div>
                        <!-- <div class="cartBtn my-1">
                          <button mat-stroked-button class="ms-1 border border-dark w100_575" color="primary">
                            <mat-icon>shopping_basket</mat-icon>
                            <span class="fw-bold">Cart</span>
                          </button>
                        </div> -->
                        <!-- <div class="shareBtn">
                          <button mat-stroked-button class="ms-1 border border-dark w100_575" color="primary">
                            <mat-icon>share</mat-icon>
                          </button>
                        </div> -->
                      </div>
                    </mat-card-content>
                  </mat-card>

            </div>
            </div>
           
        </div>
    </div>
</div>
