<div class="position-relative f_14 w-100">
<div class="table-responsive">
<table class="table mt-2 border table-responsive table-bordered">
  <thead>
    <tr>
      <th scope="col" class="bg-light">S.No</th>
      <th scope="col" class="bg-light">Product Id</th>
      <th scope="col" class="bg-light">Name</th>
      <th scope="col" class="bg-light">Description</th>
      <th scope="col" class="bg-light">Quantity</th>
      <th scope="col" class="bg-light">Type</th>
      <th scope="col" class="bg-light">Price</th>
      <th scope="col" class="bg-light">OldPrice</th>
      <th scope="col" class="bg-light">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allProduct;let i=index">
      <th>{{i+1}}</th>
      <td>{{item.pId}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description | slice:0:35}}...</td>
      <td>{{item.quantity}}</td>
      <td>{{item.type}}</td>
      <td>{{item.price}}</td>
      <td>{{item.oldPrice}}</td>
      <td>
        <span class="cp m-1 bg-info text-white p-1 f_14" routerLink="single-view/{{item._id}}">View</span>
        <span class="cp m-1 bg-success p-1 text-white f_14" routerLink="edit/{{item._id}}">Edit</span>
        <span class="cp m-1 bg-danger text-white p-1 f_14" (click)="removeProduct(item._id)">Remove</span>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="position-absolute top-0 start-0 h-100 w-100 bg-white text-center fs-2 d-flex align-items-center justify-content-center" style="margin-top: 3px;" *ngIf="isLoader">Loading...</div>
</div>
