
<div class="container-fluid">
    <div class="row p-0">
      <div class="col-md-12 p-0  mt-2">
      <div class="card">
        <div class="card-header fs-5 fw-medium">
          Product View
        </div>
        <div class="card-body py-1">
          <form action="" class="">
            <div class="row py-2  border bg-light">
              <div class="col-6">
                <label class="form-label">Name</label>
                <input type="text" class="form-control form-control-sm bg-white" name="name" readonly [(ngModel)]="viewPro.name">
              </div>
              <div class="col-6">
                <label class="form-label">Quantity</label>
                <input type="text" class="form-control form-control-sm bg-white" name="quality"
                  [ngModelOptions]="{standalone: true}" readonly [(ngModel)]="viewPro.quantity">
              </div>
              <div class="col-12">
                <label class="form-label">Description</label>
                <textarea type="text" class="form-control form-control-sm bg-white" name="description"
                  [ngModelOptions]="{standalone: true}" readonly [(ngModel)]="viewPro.description"></textarea>
              </div>
              <div class="col-6">
                <label class="form-label">Type</label>
                <!-- <select name="" id="" class="form-select form-control-sm">
                  <option value="" *ngFor="let item of dataFilter;"><span class="text-capitalize">{{item}}</span></option>
                </select> -->
                <input type="text" class="form-control form-control-sm bg-white"  name="price" [ngModelOptions]="{standalone: true}" readonly [(ngModel)]="viewPro.type">
              </div>
              <div class="col-6">
                <label class="form-label">Image</label>
                <input type="text" class="form-control form-control-sm bg-white" name="image" [ngModelOptions]="{standalone: true}" readonly [(ngModel)]="viewPro.image">
              </div>
      
              <div class="col-6">
                <label class="form-label">Price</label>
                <input type="number" min="0" class="form-control form-control-sm bg-white"  name="price" [ngModelOptions]="{standalone: true}" readonly [(ngModel)]="viewPro.price">
              </div>
              <div class="col-6">
                <label class="form-label">oldprice</label>
                <input readonly type="number" min="0" class="form-control form-control-sm bg-white" name="oldPrice"
                  [ngModelOptions]="{standalone: true}" readonly [(ngModel)]="viewPro.oldPrice">
              </div>
             
              <div style="margin-top: 8px;">
                <button mat-flat-button color="accent" type="button" routerLink="../../">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- <div style="background-color: greenyellow;padding:7px;font-size: 18px;margin-bottom: 5px;font-weight: bold;">
        <span>View Product</span></div> -->
      </div>
    </div>
  
  </div>
  
  