
<div class="container py-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="darkgreentext fw-bold" style="font-size: 100px;">oops!</h1>
            <h5 class="text-uppercase">404 - page not found</h5>
            <div>
                <a href="">
                    <button mat-stroked-button class=" mt-4 p-sm-2 p-2 border border-dark" color="primary">
                        <span class="fw-bold text-uppercase">GO TO Home page</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>