<div class="position-relative f_14 w-100">
    <div class="table-responsive">
    <table class="table mt-2 border table-responsive table-bordered">
      <thead>
        <tr>
          <th scope="col" class="bg-light">S.No</th>
          <th scope="col" class="bg-light">Blog Id</th>
          <th scope="col" class="bg-light">Title</th>
          <th scope="col" class="bg-light">Content</th>
          <th scope="col" class="bg-light">Category</th>
          <th scope="col" class="bg-light">Date</th>
          <th scope="col" class="bg-light">Image</th>
          <th scope="col" class="bg-light">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allProduct;let i=index">
          <th>{{i+1}}</th>
          <td>{{item.blogId}}</td>
          <td>{{item.title}}</td>
          <td>{{item.content | slice:0:35}}...</td>
          <td>{{item.category}}</td>
          <td>{{item.createdBlogDate}}</td>
          <td><img src="{{item.image}}" alt="{{item.image}}" width="150px"></td>
          <td>
            <span class="cp m-1 bg-info text-white p-1 f_14" routerLink="single-view/{{item.id}}">View</span>
            <span class="cp m-1 bg-success p-1 text-white f_14" routerLink="edit/{{item.id}}">Edit</span>
            <span class="cp m-1 bg-danger text-white p-1 f_14" (click)="removeProduct(item.id)">Remove</span>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <!-- <div class="position-absolute top-0 start-0 h-100 w-100 bg-white text-center fs-2 d-flex align-items-center justify-content-center" style="margin-top: 3px;" *ngIf="isLoader">Loading...</div> -->
    </div>
    