<mat-toolbar color="basic">
    <mat-toolbar-row>
      <div style="display: flex; justify-content:space-around;align-items: center;width: 100%;">
  
      <div class="w-50">
        <img src="../../../assets/logo2.jpg" alt="">
      </div>
      <div class="w-50 text-end d-flex justify-content-end align-items-center">
        <a routerLink="/" class="text-decoration-none">Home</a>
        <span class="bg-danger text-white p-1 cp ms-4" (click)="logout()">Logout</span>
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()"  aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  
    </mat-toolbar-row>
    </mat-toolbar>
  
  <mat-drawer-container>
    <mat-drawer #drawer mode="side" [opened]="sideBarOpen" role="navigation"  style="background-color: transparent;border: 0;">
      <app-usersidebar></app-usersidebar>
    </mat-drawer>
  
    <mat-drawer-content color="primary">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  
  </mat-drawer-container>
  