<div class="container mt-4">
    
    <div class="row">
        <div class="col-md-12">
            <h2 class=" ps-2 darkgreen py-1 text-white fs-5">Order Status</h2>
        </div>
    </div>
        
    <div class="row">
        <mat-divider class="mt-1 ms-0 ps-0"></mat-divider>
    </div>
    <div class="row mt-4 mb-4" *ngIf="isOrderEmpty">
        <div class="col-xl-7 col-lg-7 col-md-12 mb-2 bg-white mx-auto">
            <div class="text-center py-5">
                <h3>
                    Order Status is empty
                </h3>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-4" >
        <div class="col-xl-7 col-lg-7 col-md-12 mb-2 bg-white mx-auto border">
            <div class="p-3">
                <div class="orderTitle ">
                    <div class="d-flex justify-content-center">
                        <img src="../../../assets/order-status.png" alt="">
                    </div>
                    <div class="fw-bold text-center f-3 mt-3">Your order has booked</div>
                    <div class="fw-bold text-center mt-1">Your order id:<span class="text-success">{{orderId}}</span></div>
                </div>
                <!-- <div class="checkoutProduct">
                    
                    <div class="row">
                        <div class="col-md-2  order-md-1 order-2">
                            <div class="img text-sm-center p-1">
                                <img src="" alt="" style="width: 50px;">
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-start order-md-2 order-3">
                            <div class="productDetail">
                                <div class="title fw-bold fs-5">
                                    
                                </div>
                                <div class="quanwithweight fs-6 d-flex align-items-center justify-content-start">
                                  <div class="quan">Quantity: <span> </span></div>
                                  <div class="mx-2">|</div>
                                  <div class="weight">Weight: <span> </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex align-items-center justify-content-md-end order-md-3 order-4">
                            <div class="price fs-5 fw-bold">
                                &#8377; 
                            </div>
                        </div>
                       
                        <div class="row">
                            <mat-divider class="my-3 ms-0 ps-0"></mat-divider>
                        </div>
                    </div>
                    <div class="row">
                        <mat-divider class="my-3 ms-0 ps-0"></mat-divider>
                    </div>
                    
                </div> -->
                <div class="text-center">
                    <button class="btn btn-success btn-sm mt-2 text-center" routerLink="/user-dashboard/myorder">My Order</button>
                </div>
            </div>
        </div>
    </div>
</div>

