.profileImage{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: brown;
    color: white;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched{
    border:1px solid red!important
}